*{box-sizing:border-box;}

body { background-color: #3c4849;
	color: #fff;
	line-height: 1.25;
	font-family: "Lato", Arial, sans-serif; }

header {
	background-color: #4747B0;
	color: #FFFFFF;
	background-position: right;
	background-repeat: no-repeat;
	text-align: center;
	height: 100px;
	padding-top: 30px;
	padding-left: 3em;}

img{
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto; }

h1 {
	text-align: center;
	color:#fff;
	padding: .275em;
	margin-top: 0; }

#wb { background-image: url(code.jpg);
	height: 300px;
	background-repeat: no-repeat;
	background-size: 100% 100%; }

nav{
  text-align: center; }

nav ul{
  list-style: none;
  margin-bottom: 0;
  font-family: 'Roboto';
  padding: 0 1.5em;}

nav li{
  padding:.5em;
  font-weight: 800;
  letter-spacing: 2px;}

nav a { text-decoration: none; 
	font-weight: 800;
	-webkit-transition: color 3s ease-out;
	    -moz-transition: color 3s ease-out;
	    -o-transition: color 3s ease-out; }

nav a:link {
	color: #B8DBED;}

nav a:visited {
	color: #FFFFFF;}

nav a:hover {
	color: #0570E0;}

main {
	padding-top: 1px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	background-color: #FFFFFF;
	display: block;
	margin-left: 0px;}

h2 { color: #FF0000;
	font-family: "Lato", Arial, sans-serif;
	text-shadow: 1px 1px 1px #CCCCCC; }
.row{ 
	border: 3px solid #3c4849; 
	margin: 0em .5em 0em .5em;}

.col-1 p { 
	padding: 1em 0.275em; 
	background-color: #393d40; 
	margin: 1em; 
	color: #fff; 
	text-align: center; 
	border: 2px solid #fff;}

.col-2 { 
	padding: 1em; 
	background-color: #fff; 
	margin: 1em; 
	color: #393d40;
	border: 2px solid #393d40;}

.col-3{ 
	background-color: #fff; 
	padding: 1em; 
	margin: 1em; 
	border:2px dashed #393d40;} 

footer{
	background-color: #393d40;
	padding: 0.275em;
  color: #fff;
  text-align: center;
font-size: 75%;
	font-style: italic; }

.main_section{
	background-color: #fff;
  margin: 1em auto;
  width: 95%; }

.main_section p{
	padding: .875em;
	border: dotted;
	margin: .5em; }

.fade{
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

@media screen and (min-width:48em) {

.row:after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"]{
	float:left;
	padding:1em;
	margin: 1em;
}

.col-1 {
	width: 20%;
	height: 12em;
	background-color: #393d40;
}

.col-1 p{
	margin:0;
}

.col-2{
	width: 47%;
	background-color: #fff;
	border: 2px solid #393d40;
}

.col-3{
	width: 20%;
	background-color: #fff;
	overflow:hidden;
}
	.col-3 img{
	margin-top: 1em;
	margin-bottom: 1em;
}
}

@media screen and (min-width:64em) {
nav li{
	display: inline-block;
}

.row{
  max-width: 980px;
  margin: 0 auto;
}

.col-1, .col-3{
	height: 16em;
}

.col-2{
	width: 50%;
}

.main_section{
  width: 90%;
}
	#bottom-fixed{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
}

@media screen and (min-width: 90em){

.row{
  max-width: 1380px;
  margin: 0 auto;
}
	#bottom-fixed{
  position: fixed;
  margin-top: 10em;
}
}

@media screen and (min-width:91em) {
.col-2{
	width: 53%;
}
	.col-3 img{
  min-width: 150px;
  margin-top: 0em;
}
}

@media screen and (min-width:160em){
.wrapper{
	width:86%;
	margin: 0 auto;
}

.row{
	border: 7px solid #fff;
  max-width: 100%;
  margin: 0 auto;
}
.col-1, .col-3{
	height: 23em;
}

.col-2{
	width: 55%;
	height: 23em;
}
	.col-3 img{
	margin-top: 4.5em;
}
	.main_section{
  width: 100%;
}	
}
